<%= form_for @user do |f|  %>
  <div><%= f.text_field :email, placeholder: "Edit Email" %></div>
  <div><%= f.text_field :name, placeholder: "Edit Name" %></div>
  <div><%= f.password_field :password, placeholder: "Edit Password" %></div>
  <div><%= f.password_field :password_confirmation, placeholder: "Re-enter Password" %></div>
  <div><%= f.text_field :pic_url, placeholder: "Edit Pic_URL" %></div>
  <div><%= f.text_field :bio, placeholder: "Edit About Me" %></div>
  <div><%= f.submit "Update Settings", :id => "update" %></div>
<% end %>
