<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

<!--nav begin -->
<nav class="navbar group">
   <div class="nav-inner">
        <div ><%= link_to "CarbonGroove", root_path, :class=>"col-2-3 logo" %></div>
        <div class="col-1-3 login right">
          <ul id="nav">
            <!-- <li class="name">Hello, <%= current_user.name %> !</li> -->
            <li class="setting right">
              Hello, <%= current_user.name %> !
              <% if logged_in_as_regular_user? %>
              <%= link_to image_tag("setting.png"), :class=>"tooltip" %>
              <!-- <%= link_to image_tag("setting.png"), edit_user_url(current_user.id) %> -->
              <%#= link_to "Log out", log_out_path, :id => "log_out" %>
              <%# elsif logged_in? %>
              <%#= link_to "Log out", log_out_path, :id => "log_out" %>
              <% end %>
          </li>
          </ul>
        </div>
    </div>
</nav>

  <div id="hi" style="width: 100px; height: 100px; margin: 0 0 0 500px; background: #f00;" class="tooltip" title="
  <% if logged_in_as_regular_user? %>
  <%= link_to "Log out", log_out_path, :id => "log_out" %>
  <% elsif logged_in? %>
  <%= link_to "Log out", log_out_path, :id => "log_out" %>
   <% end %>
              "></div>
  

<!-- <div class="css-modal">
  <%= form_for @user do |f|  %>
  <div><%= f.text_field :email, placeholder: "Edit Email" %></div>
  <div><%= f.text_field :name, placeholder: "Edit Name" %></div>
  <div><%= f.password_field :password, placeholder: "Edit Password" %></div>
  <div><%= f.password_field :password_confirmation, placeholder: "Re-enter Password" %></div>
  <div><%= f.text_field :pic_url, placeholder: "Edit Pic_URL" %></div>
  <div><%= f.text_field :bio, placeholder: "Edit About Me" %></div>
  <div><%= f.submit "Update Settings", :id => "update" %></div>
<% end %>

<% if logged_in_as_regular_user? %>
<%= link_to "Log out", log_out_path, :id => "log_out" %>
<% elsif logged_in? %>
<%= link_to "Log out", log_out_path, :id => "log_out" %>
<% end %>
</div> -->

   



  <div class="wrapper">
    <div class="col-1-4 main box-offset">
      <%= image_tag current_user.pic_url if current_user.pic_url.present? %>
      <div class="name margin-top group"><%= current_user.name %></div>
      <div class="profile content-text"><p><%= current_user.bio %></p></div>
       
      
      <div class="account">
          <div class="account col-1-3 group-sub">Account</div>
          <div class="log"><%= link_to image_tag("add.png"), '#accountModal', :data => {:toggle => "modal"} %></div>
          <table class="table table-hover">
            <tbody>
              <tr>
               <td class="content-text">Chase Bank</td>
              </tr>
              <tr>
                <td class="content-text">Bank of America</td>
              </tr>
              <tr>
                <td class="content-text">Citi Bank</td>
              </tr>
            </tbody>
          </table>
      </div>

      <div class="goal group-sub border">
        <div class="col-2-3 group-sub"><p>Your goal progress:</p></div>
       <div class="goal log"><%= link_to image_tag("add.png"), '#goalModal', :data => {:toggle => "modal"} %></div> 
        <%#= link_to "Set Goal", '#goalModal', :class => "btn btn-success small pull-right", :data => {:toggle => "modal"} %>
      </div>
      
      <div id="goalModal" style="display: none"></div>
      <div id="arc"></div>
      
      <div class="goal group-sub">Target Carbon Goals </div>
      
      <div class="goal">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        <% @user.goals.each do |goal| %>
                        <%= goal.goal_name %>
                            
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    Start Date : <%= Date.parse(goal.start_time.to_s).strftime("%b %e, %Y") %><br>
                    End Date : <%= Date.parse(goal.end_time.to_s).strftime("%b %e, %Y") %><br>
                    <%= link_to 'Edit', edit_goal_path(goal) %> | 
                    <%= link_to 'Delete', goal, method: :delete, data: { confirm: 'Are you sure?' } %> 
                  </div>
                <% end %>
                </div> 
            </div>
          </div>
      </div> <!-- goal div end -->




<!-- 
        <div class="group">
          <div class="facebook log"><%= image_tag("facebook.png") %></div>
          <div class="twitter log"><%= image_tag("twitter.png") %></div>
        </div> -->
    </div> <!--col-1-4 end -->

    <%= render 'user_data' %>
    


      <!---</div> dashboard end col-3-3 -->
  </div><!--wrapper end-->
</div> <!--container end-->


<!-- Add Account Modal -->
  <div id="accountModal" class="modal-small hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="myModalLabel">Add an account</h4>
    </div>
    <div class="modal-body">
      <div class="span3">
          <%= form_tag :controller => "Users", :action => "add_account", :method => 'post', :class => "horizontal" do %>
              <div class="controls">
                <%= text_field_tag :bank_name, params[:bank_name], :id => "inputEmail", :placeholder => "Bank ID" %> <!-- (4 for Chase or 14007 for BoA) -->
              </div>
              <div class="controls">
                <%= text_field_tag :bank_username, params[:bank_username], :id => "inputEmail", :placeholder => "Bank Username" %>
              </div>
              <div class="controls">
                <%= text_field_tag :bank_password, params[:bank_password], :id => "inputPassword", :placeholder => "Bank Password", type: "password" %>
              </div>
              <div class="controls">
                <%= text_field_tag :bank_account_order, params[:bank_account_order], :id => "inputEmail", 
                :placeholder => "Account Type" %><!--  Desired Bank Account Order in Array (0, 1 , 2, etc...)  -->
              </div>
              <%= submit_tag "Add Account", :class => 'btn btn-success' %>
          <% end %>
      </div>
    </div>

    <div class="modal-footer">
      <a href="#"></a>
    </div>
  </div>

<!-- purchase edit modal -->
<div id="purchaseModal" class="modal-small hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="myModalLabel">Enter Purchase Information</h4>
    </div>
    <div class="modal-body">
      <div class="span3">
         <%= form_for Receipt.new do |f| %><br>
          <%= f.select :kind, options_for_select(Receipt::KINDS) %><br>
          <%= f.text_field :cost, :placeholder => "Cost in $" %><br>
          <%#= hidden_field_tag 'selected', 'none' %>
          <%= f.text_field :date, placeholder: "Date of Purchase" %><br>
          <%= f.submit "Submit", :class => 'btn btn-success' %><br>
        <% end %>
      </div>
    </div>

    <div class="modal-footer">
      <a href="#"></a>
    </div>
  </div>



  <!-- Add Goal Modal -->
      <div id="goalModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h4 id="myModalLabel">Set a Goal</h4>
        </div>
        <div class="modal-body">
         <div class="span6">
            <%= form_for @goal do |f| %>
              <% if @goal.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

                  <ul>
                  <% @goal.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

          <div class="field">
            <%= f.label :goal_name %>
            <%= f.text_field :goal_name %>
          </div>
          <div class="field">

            <%= f.label :description %>
            <%= f.text_area :description, size: '10' %>
          </div>
          <div class="field">
            <%= f.label :Reduce_Emissions_By %>
            <%= f.select :target_emission, options_for_select(Goal::TARGET_GOAL) %>

          </div>
          <div class="field">
            <%= f.hidden_field :user_id, value: current_user.id %>
          </div>


          <div class="field">

            <%= f.label :start_time %><br />
            <%= f.text_field :start_time %>
          </div>
          <div class="field">
            <%= f.label :end_time %><br />
            <%= f.text_field :end_time %>
          </div>
          <div class="field">
            <%= f.label :status %>
            <%= f.select :status, options_for_select(["Not Started","In Progress", "Completed", "Screw It"]) %>
          </div>
          <div class="actions">
            <%= f.submit "Submit", :class => 'btn btn-success' %>
            <% end %>
          </div>
        
        </div>
      </div><!--modal body end -->

        <div class="modal-footer">
          <a href="#"></a>
        </div>
    </div>


  <script>$(function(){ $("#pop").popover();});</script>
  <script>
  $(document).ready(function(){
  $('#pop').popover({
    html : true,
    content: function() {
      return $('#popover-form').html();
    }
  });
});</script>


<script type="text/javascript">
  $(function() {
      $('#goal_start_time').datepicker({dateFormat: 'yy-mm-dd'});
  });
    $(function() {
      $('#goal_end_time').datepicker({dateFormat: 'yy-mm-dd'});
  });
</script>

<script type="text/javascript">
  $(function() {
      $('#receipt_date').datepicker({dateFormat: 'yy-mm-dd'});
  });
</script>


<script type="text/javascript">
    $(document).ready(function() {
      $('.tooltip').tooltipster({
        animation: 'fade',
        position: 'bottom'
      });
    });
  </script>










        <table class ="goal table table-hover">
          <tr>
            <!-- <th>Goal name</th> -->
            <!-- <th>Description</th> -->
            <!-- <th>Target Emission (reduce by)</th> -->
            <!-- <th>Start time</th> -->
            <!-- <th>End time</th> -->
            <!-- <th>Status</th> -->
          </tr>

          <% @user.goals.each do |goal| %>
             <!-- <tr>
              <td><%= goal.goal_name %></td>
            </tr>
            <tr>
               <td><%= goal.description %></td>
            </tr>

            <tr>
              <td><%= goal.target_emission %>%</td>
            </tr>
            <tr>
              <td><%= Date.parse(goal.start_time.to_s).strftime("%b %e, %Y") %></td>
            </tr>
            <tr>
              <td><%= Date.parse(goal.end_time.to_s).strftime("%b %e, %Y") %></td>
            </tr>
            <tr>
              <td><%= goal.status %></td>
            </tr>
            <tr>
              <td><%= link_to 'Show', goal %></td>
            </tr>
            <tr>
              <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
            </tr>
            <tr>
              <td><%= link_to 'Delete', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>  -->
          <% end %>
        </table>


