<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

<!--nav begin -->
<nav class="navbar group">
   <div class="nav-inner">
        <div ><%= link_to "CarbonGroove", root_path, :class=>"col-2-3 logo" %></div>
        <div class="col-1-3 login right">
          <ul id="nav">
            <li class="name">Hello, <%= current_user.name %> !</li>
          </ul>
        </div>
    </div>
</nav>


  <div class="wrapper">
    <div class="col-1-4 main box-offset">
        
        <%= image_tag current_user.pic_url if current_user.pic_url.present? %>
          

        <%= image_tag("shay.jpg") %>
        <div class="name margin-top group">Shay Rowe</div>
        <div class="profile content-text"><p>Hello Everyone, I am shay. I am intereted in different kind of environmental issues. That is why i registered in carbon groove ! I would like to see how my every day behavior make impact to world and environment around us. Let's hang out! and talk about what we can do for environment! Thank you for visit.</p></div>

<!-- 
        <div class="name margin-top group"><%= current_user.name %></div>
        <div class="profile content-text"><p><%= current_user.bio %></p></div> -->
        <!-- <%= link_to "Add an Account!", '#accountModal', :class => "btn btn-success small pull-right", :data => {:toggle => "modal"} %> -->
        <div class="account">
          <div class="col-1-3 group-sub">Account</div>
          <div class="log right"><%= link_to image_tag("add.png"), '#accountModal', :data => {:toggle => "modal"} %></div>
          <table class="table table-hover">
            <tbody>
              <tr>
              <td>Chase Bank</td>
            </tr>
            </tbody>
          </table>

        </div>
        <div class="goal group-sub border">
          <%= link_to "Set Goal!", '#addgoalModal', :class => "btn btn-success small pull-right", :data => {:toggle => "modal"} %>
          <p>Your goal progress:</p>
        </div>


    <!--     <a id="pop" class="btn btn-success small pull-right" rel="popover" data-placement="bottom" data-content="#popover-form" data-original-title="">Set goal</a> -->


 
    <div id="goalModal" style="display: none">
    </div>


    <div id="arc"></div>

        <div class="goal group-sub">Goal List </div>
        <div class" goal group">
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                           <% @user.goals.each do |goal| %>
                           <%= goal.goal_name %>
                           <% end %>
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">start Date : Mar 15 2013</div>
                </div>
            </div>
          </div>

        </div>





        <table class ="goal table table-hover">
          <tr>
            <!-- <th>Goal name</th> -->
            <!-- <th>Description</th> -->
            <!-- <th>Target Emission (reduce by)</th> -->
            <!-- <th>Start time</th> -->
            <!-- <th>End time</th> -->
            <!-- <th>Status</th> -->
          </tr>

          <% @user.goals.each do |goal| %>
           <!--  <tr>
              <td><%= goal.goal_name %></td>
            </tr>
            <tr>
               <td><%= goal.description %></td>
            </tr>

            <tr>
              <td><%= goal.target_emission %>%</td>
            </tr>
            <tr>
              <td><%= Date.parse(goal.start_time.to_s).strftime("%b %e, %Y") %></td>
            </tr>
            <tr>
              <td><%= Date.parse(goal.end_time.to_s).strftime("%b %e, %Y") %></td>
            </tr>
            <tr>
              <td><%= goal.status %></td>
            </tr>
            <tr>
              <td><%= link_to 'Show', goal %></td>
            </tr>
            <tr>
              <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
            </tr>
            <tr>
              <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr> -->
          <% end %>
        </table>
        <div class="group">
          <div class="facebook log"><%= image_tag("facebook-bw.png") %></div>
          <div class="twitter log"><%= image_tag("twitter-bw.png") %></div>
        </div>
    </div> <!--col-1-4 end-->

    <%= render 'user_data' %>


      </div> <!---dashboard end col-3-3 -->
  </div><!--wrapper end-->
</div> <!--container end-->


<!-- Add Account Modal -->
  <div id="accountModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="myModalLabel">Add an account to track!</h4>
    </div>
    <div class="modal-body">
      <div class="span6">
          <%= form_tag :controller => "Users", :action => "add_account", :method => 'post', :class => "horizontal" do %>
              <div class="controls">
                <%= text_field_tag :bank_name, params[:bank_name], :id => "inputEmail", :placeholder => "Bank ID (4 for Chase or 14007 for BoA)" %>
              </div>
              <div class="controls">
                <%= text_field_tag :bank_username, params[:bank_username], :id => "inputEmail", :placeholder => "Bank Username" %>
              </div>
              <div class="controls">
                <%= text_field_tag :bank_password, params[:bank_password], :id => "inputPassword", :placeholder => "Bank Password", type: "password" %>
              </div>
              <div class="controls">
                <%= text_field_tag :bank_account_order, params[:bank_account_order], :id => "inputEmail", :placeholder => "Desired Bank Account Order in Array (0, 1 , 2, etc...) " %>
              </div>
              <%= submit_tag "Add Account!", :class => 'btn btn-success' %>
          <% end %>
      </div>
    </div>

    <div class="modal-footer">
      <a href="#"></a>
    </div>
  </div>

  <!-- Add Goal Modal -->
      <div id="addgoalModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h4 id="myModalLabel">Set a Goal</h4>
      </div>
      <div class="modal-body">
        <div class="span6">
        <%= form_for @goal do |f| %>
          <% if @goal.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

              <ul>
              <% @goal.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :goal_name %>
            <%= f.text_field :goal_name %>
          </div>
          <div class="field">

            <%= f.label :description %>
            <%= f.text_area :description, size: '10' %>
          </div>
          <div class="field">
            <%= f.label :Reduce_Emissions_By %>
            <%= f.select :target_emission, options_for_select(Goal::TARGET_GOAL) %>

          </div>
          <div class="field">
            <%= f.hidden_field :user_id, value: current_user.id %>
          </div>


          <div class="field">

            <%= f.label :start_time %><br />
            <%= f.text_field :start_time %>
          </div>
          <div class="field">
            <%= f.label :end_time %><br />
            <%= f.text_field :end_time %>
          </div>
          <div class="field">
            <%= f.label :status %>
            <%= f.select :status, options_for_select(["Not Started","In Progress", "Completed", "Screw It"]) %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
        </div>
      </div>

      <div class="modal-footer">
        <a href="#"></a>
      </div>
    </div>
  </div>

  <script>$(function(){ $("#pop").popover();});</script>
  <script>
  $(document).ready(function(){
  $('#pop').popover({
    html : true,
    content: function() {
      return $('#popover-form').html();
    }
  });
});</script>


<script type="text/javascript">
  $(function() {
      $('#goal_start_time').datepicker({dateFormat: 'yy-mm-dd'});
  });
    $(function() {
      $('#goal_end_time').datepicker({dateFormat: 'yy-mm-dd'});
  });
</script>



