<h1>Welcome to CarbonGroove!</h1>

<div id="purchases">
  <h2 class="purchase_list">List of purchases</h2>
  <ul>
    <% @receipts.each do |r| %>
    <li>
      <em><%= r.kind %></em>,
      <%= r.cost %> dollars,
      <strong><%= r.emission %> kg</strong> of carbon dioxide
    </li>
    <% end %>
  </ul>
  <h3 class="total_cost">
    <% if @receipts == [] %>
      $<%= 0 %> 
    <% else %>
      <% every_cost = Array.new %>
      <% @receipts.each do |r| %>
        <% every_cost.push(r[:cost].to_f) %>
      <% end %>
      $<%= every_cost.inject { |result, element| result + element }.round(2) %>
    <% end %> 
    spent in total
  </h3>
  <h3 class="total_emission">
    <% if @receipts == [] %>
      <%= 0 %> 
    <% else %>
      <% every_emission = Array.new %>
      <% @receipts.each do |r| %>
        <% every_emission.push(r.emission) %>
      <% end %>
      <%= every_emission.inject { |result, element| result + element }.round(2) %>
    <% end %> 
    kg of carbon dioxide emitted
  </h3>


  <h4 id="new_purchase"><%= link_to "Enter New Purchase", new_receipt_path %></h4>
</div>
