<h1>Welcome to CarbonGroove!</h1>

<div id="purchases">
  <h2>List of purchases</h2>
  <ul>
    <% @receipts.each do |r| %>
    <li>
      <em><%= r.kind %></em>,
      <%= r.cost %> dollars,
      <strong><%= r.emission %></strong> kg of carbon dioxide
    </li>
    <% end %>
  </ul>
<h3>
  <% total_cost = Array.new %>
  <% @receipts.each do |r| %>
  <% total_cost.push(r[:cost].to_i) %>
  <% end %>
  $<%= total_cost.inject { |result, element| result + element } %> spent in total
</h3>
<h3>
  <% total_emission = Array.new %>
  <% @receipts.each do |r| %>
  <% total_emission.push(r.emission) %>
  <% end %>
  <%= total_emission.inject { |result, element| result + element } %> kg emitted in total
</h3>


  <%= link_to "Enter New Purchase", new_receipt_path, :id => 'new_purchase' %>
</div>
