<div id="intervals">
  <h2 class="interval_list">Recent Emissions (Intervals)</h2>
  <ul>
    <% @intervals.each do |interval| %>
    <li>
      <%= interval.start_range.strftime("%D") %>: <%= interval.total_emission %> kg
      <% end %>
    </li>
  </ul>
</div>

<div id="purchases">
  <h2 class="purchase_list">Recent Purchases (Receipts)</h2>
  <% @receipts_by_day.each do |day, purchases| %>
    <%= day.strftime("%B %e, %Y") %>
    <% daily_cost = [] %>
    <% daily_emission = [] %>
    <ul>
     <% purchases.sort_by {|obj| obj.created_at}.reverse.each do |purchase| %>
        <li><%= Date.parse(purchase.date.to_s) %>
          <em><%= purchase.kind %></em>,
          $<%= purchase.cost %>,
          <strong><%= purchase.emission %> kg</strong> of carbon dioxide
          <% daily_cost << purchase.cost.to_f %>
          <% daily_emission << purchase.emission.to_f %>
       </li>
     <% end %>
     <% daily_total_cost = daily_cost.inject { |sum, x| sum + x }  %>
     <% daily_total_emission = daily_emission.inject { |sum, x| sum + x }  %>
     <li>The total cost of purchases on <%= day.strftime("%D") %> is <%= number_to_currency(daily_total_cost) %></li>
     <li>The total emission on <%= day.strftime("%D") %> is <%= number_with_precision(daily_total_emission, :precision => 2) %> kg</li>
    </ul>
  <% end %>

  <h3 class="total_cost">
    <% if @receipts == [] %>
      $<%= 0 %>
    <% else %>
      <% every_cost = Array.new %>
      <% @receipts.each do |r| %>
        <% every_cost.push(r[:cost].to_f) %>
      <% end %>
      <%= number_to_currency(every_cost.inject { |result, element| result + element }.round(2)) %>
    <% end %>
    spent in total
  </h3>
  <h3 class="total_emission">
    <% if @receipts == [] %>
      <% e = 0 %>
      <%= e %>
    <% else %>
      <% every_emission = Array.new %>
      <% @receipts.each do |r| %>
        <% every_emission.push(r.emission.to_i) %>
      <% end %>
      <% e = every_emission.inject { |result, element| result + element }.round(2) %>
      <%= number_with_delimiter(e) %>
    <% end %>
    kg of carbon dioxide emitted
  </h3>
  <h3 class="plastic_bags">Equivalent to <%= number_with_delimiter(e * 100) %> plastic bags</h3>
  <h4 id="new_purchase"><%= link_to "Enter New Purchase", new_receipt_path %></h4>
</div>

<h2>My Goals</h2>
<table>
  <tr>
    <th>Goal name</th>
    <th>Description</th>
    <th>Target Emission (reduce by)</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @user.goals.each do |goal| %>
    <tr>
      <td><%= goal.goal_name %></td>
      <td><%= goal.description %></td>
      <td><%= goal.target_emission %>%</td>
      <td><%= Date.parse(goal.start_time.to_s).strftime("%b %e, %Y") %></td>
      <td><%= Date.parse(goal.end_time.to_s).strftime("%b %e, %Y") %></td>
      <td><%= goal.status %></td>
      <td><%= link_to 'Show', goal %></td>
      <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
      <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br />
<%= link_to 'New Goal', new_goal_path %>
