<p id="notice"><%= notice %></p>

<p>
  <b>Goal name:</b>
  <%= @goal.goal_name %>
</p>

<p>
  <b>Description:</b>
  <%= @goal.description %>
</p>

<p>
  <b>Target Emission (reduce by):</b>
  <%= @goal.target_emission %>%
</p>

<p>
  <b>Start time:</b>
  <%= Date.parse(@goal.start_time.to_s).strftime("%b %e, %Y") %>

</p>

<p>
  <b>End time:</b>
  <%= Date.parse(@goal.start_time.to_s).strftime("%b %e, %Y") %>

</p>

<p>
  <b>Status:</b>
  <%= @goal.status %>
</p>


<%= link_to 'Edit Goal', edit_goal_path(@goal) %> |
<%= link_to 'User Page', user_path(session[:user_id]) %>

