<h1>Enter Purchase Information:</h1>

<%= form_for @receipt do |f| %>
  <%= f.select :kind, options_for_select(["Electricity", "Gasoline", "Computer", "Cheeseburger"]) %>
  <%= f.text_field :cost, :placeholder => "cost in $" %>
  <%= f.hidden_field :user_id %>
  <%= hidden_field_tag 'selected', 'none'  %>
  <%= f.submit "Calculate Carbon Emission" %>
<% end %>




<!-- <form action="<%= receipts_path %>" method="post">
  <select name="item">
    <option value="electricity">Electricity</option>
  </select>
  <select name="type">
    <option value="electricity">Electricity</option>
  </select>
  <input type="textfield" placeholder="Enter dollar amount here" name="amount">
  <input type="submit" value="Calculate Carbon Emission">
</form> -->