<!DOCTYPE html>
<html>
<head>
  <title>Carbongroove</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="fixed_header">

  </div>

  <div id="user_nav">
    <% if current_user %>
      <p class="fb-login"><h1 id="welcome">Hello <span class="user-name"><%= current_user.name %></span>!</h1></p>
    <% end %>
  </div>

  <div class="container">

    <%= yield %>
  
    <footer> Copyright@ 2013 CarbonGroove</footer>
  </div>


  <div id="user_nav">
    <% if logged_in_as_regular_user? %>
      <%= link_to "Edit User Settings", edit_user_url(current_user.id) %>
      <div class="user_info">
        <%= link_to "Log out", log_out_path, :id => "log_out" %>
        <p id="logged_in">Logged in as <%= current_user.email %></p>
      </div>
    <% elsif logged_in? %>
      <div class="user_info">
        <%= link_to "Log out", log_out_path, :id => "log_out" %>
        <p id="logged_in">Logged in as <%= current_user.email %></p>
      </div>
    <% else %>
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "log in", log_in_path %>
    <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

</body>
</html>
